
  /* General table styling */
  table {
    width: 100%;
    border-collapse: collapse;
    font-family: Arial, sans-serif;
  }

  ion-content{
    --background:#FFFFFF
    margin:18px;
  }

  ion-list{
    background-color:#eeeeee
    
  }


  ion-card {
    margin: 15px;
    border-radius: 12px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    border: 1px solid #666666;
  }

  ion-card-title {
    font-size: 1.2rem;
    font-weight: bold;
    padding: 16px;
    
  }

  th, td {
    padding: 12px 15px;
    border: 1px solid #eeeeee;
    text-align: left;
  }

  th {
    background-color: #FFFFFF;
    font-weight: bold;
    color: #666666;
  }

  td {
    background-color: #FFFFFF;
    color: #666666;
  }

  tr:nth-child(even) td {
    background-color: #FFFFFF;
  }

  tr:hover td {
    background-color: #FFFFFF;
  }

  /* Logo and layout styling */
  .logo {
    width: 250px;
    height: auto;
    display:flex;
  }

  .logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
    margin-bottom: 30px; /* Separación del logo con el título */
  }

  ion-toolbar, ion-footer {
    background-color: #FFB800;
  }

  ion-button {
    --border-width: 0px;
    --box-shadow: none;
  }

  /* Layout for titles and buttons */
  .centrar {
    margin-top: 20px; /* Añadir margen superior para separar los títulos del logo */
  }

  .titulo-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
    margin: 0 10px;
  }

  .duoc-icon img {
    width: 80px;
    height: auto;
    display: inline-block;
    margin-right: 10px;
    vertical-align: middle;
  }

  .titulo-text {
    flex-grow: 1;
    text-align: center;
  }

  .botones-container {
    margin: 120px 0;
    margin-bottom: 100px;
  }

  .botones-container ion-button {
    margin: 0 5px;
  }

  /* Content adjustments */
  ion-content {
    margin-bottom: 300px;
    background-color: #eeeeee;
    
  }

  ion-card-content {
    padding: 16px;
    background-color: #eeeeee;
    
  }

  ion-item{
    --background: #666666;
    margin-top: 8px;
    border-radius: 5px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    
  }


  .paleta-colores{
    color: #1A1A1A;
    color: #FFFFFF;
    color: #FFB800;
    color: #666666;
    color: #000000;
    color: #eeeeee;
  }

  .colored {
    background-color: #666666; /* Fondo gris */
    display: flex; 
    justify-content: flex-end; 
    gap: 10px;
    border-right: 16px solid #666666; /* Borde derecho con el mismo color del fondo */
    padding-right: 5px; /* Para ajustar el espacio de los elementos al borde */
  }

  