

<ion-header>
  <ion-toolbar class="ion-text-center move-right" color="primary">
    <div slot="start" class="ion-margin">
      <app-language #selectLanguage> {{ 'TituloSistema' | translate }}</app-language>
    </div>
    <ion-title>
      
    </ion-title>
    <div slot="end" class="ion-margin">
      <ion-button shape="round" size="small" (click)="navigateTheme()">
        {{ 'Ingreso.Tema' | translate }}
        <ion-icon slot="start" name="color-wand-outline"></ion-icon>
      </ion-button>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="logo-container ion-text-center">
    <img src="../../../assets/images/LogoDuoc.jpeg" alt="Logo Duoc UC" class="logo" />
  </div>

  <div class="centrar">
    <div class="enmarcar-login">
      <ion-card class="ion-text-center">
        
        <img alt="DUOC" src="../../../assets/images/pao.jpg" class="foto-portada" />
      
        <ion-card-content>

          <ion-card-header>
            <ion-toolbar class="sacapuntas">
              <h3>{{ 'Welcome.TituloSistema' | translate }}</h3>
              <h2>{{'Ingreso.Titulo' | translate }}</h2>
            </ion-toolbar>
          </ion-card-header>

          <ion-item>
            <ion-input id="cuenta" [(ngModel)]="correo" 
                label="{{'Ingreso.Cuenta' | translate }}" labelPlacement="floating"
                placeholder="{{'Ingreso.Placeholder.Cuenta' | translate }}"></ion-input>
          </ion-item>

          <ion-item>
            <ion-input id="password" [(ngModel)]="password" 
                label="{{'Ingreso.Contrasena' | translate }}" labelPlacement="floating" type="password"
                placeholder="{{'Ingreso.Placeholder.Contrasena' | translate }}"></ion-input>
          </ion-item>

          <div class="ion-margin-top">
            <ion-button shape="round" size="small" (click)="iniciarSesion()" class="ancho-boton">
              {{'Ingreso.BotonIngresar' | translate }}
            </ion-button>
          </div>
          <br> 
          <div>
            <a (click)="ingresarPaginaValidarCorreo()">
              {{'Ingreso.OlvideContrasena' | translate }}
            </a>
          </div>
          <br>
          <div>
            <a (click)="navegarRegistro()">
              {{'Ingreso.Registrarme' | translate }}
            </a>
          </div>
          <br>
          <div>
            <a (click)="ingresarPaginaMapa()">
              {{'Ingreso.RutaDuoc' | translate }}
            </a>
          </div>
         
        
        </ion-card-content>
        
      </ion-card>

    </div>
  </div>
</ion-content>


